# https://www.reddit.com/r/golang/comments/35v5bm/best_way_to_run_go_server_as_a_daemon/
# /etc/systemd/system/makina.service 으로 symlink

[Unit]
Description=unity-release-bot

[Service]
ExecStart=/home/irina/service/unity-release-bot/unity-release-bot -log=bot.log
WorkingDirectory=/home/irina/service/unity-release-bot
Restart=always
User=irina

[Install]
WantedBy=multi-user.target

